@model WebApp.ViewModel.PlaylistViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Editar Playlist";
}

<link rel="stylesheet" href="~/css/pages/Ouvinte/reproduzir.css" />

<div class="reproduzir-musica">
    <h1>@Model.Nome_Playlist</h1>

    <h3>Músicas da Playlist</h3>

    <div>
        <input type="text" id="search-musica" placeholder="Buscar música..." autocomplete="off" class="barra-pesquisa"/>
        <input type="hidden" id="musica-id" />
        <button href="@Url.Action("AdicionarMusica", "Playlist")" type="button" id="btn-adicionar-musica" class="botao-voltar">Adicionar</button>
        <input type="hidden" id="playlist-id" value="@Model.Id" />

        <ul id="lista-musicas"></ul>
    </div>

    <ul>
        @if (Model.Musicas != null && Model.Musicas.Count > 0)
        {
            foreach (var musica in Model.Musicas)
            {
                <li>
                    <strong>@musica.Titulo</strong> - @musica.NomeArtista (@musica.Genero, @musica.Ano)
                </li>
            }
        }
    </ul>

    <div class="botoes-telas-inicias">
        <a href="@Url.Action("Excluir", "Playlist", new { id = Model.Id })" class="botao-excluir">Excluir</a>
        <a href="@Url.Action("Index", "Playlist")" class="botao-voltar">Voltar</a>
    </div>
</div>