@model List<WebApp.ViewModel.MusicaViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Músicas Cadastradas";
}

<link rel="stylesheet" href="~/css/pages/Ouvinte/index.css" />

<div class="exibicao-musicas">
    <h3>Músicas cadastradas</h3>
    <div class="card-grid">
        @foreach (var musica in Model)
        {
            <div class="musica-card">
                <div class="musica-capa">                   
                </div>
                <div class="musica-info">
                    <h4>@musica.Titulo</h4>
                    <p><strong>Artista:</strong> @musica.NomeArtista</p>
                    <p><strong>Gênero:</strong> @musica.Genero</p>
                    <p><strong>Ano:</strong> @musica.Ano</p>
                    <p><strong>Arquivo:</strong> @musica.NomeArquivo</p>
                </div>
                <a class="botao-reproduzir"
                   href="@Url.Action("Reproduzir", "Ouvinte", new { id = musica.Id })">
                    Reproduzir
                </a>
            </div>
        }
    </div>
</div>

<a class="botao-reproduzir" href="@Url.Action("Index", "Playlist")">Minhas Playlists</a>