<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundFy</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="@Url.Content("~/css/layouts/_layout.css")" />
</head>

<body>

    <header class="cabecalho">

        <a class="logo" href="@Url.Action("Index", "Home")">SoundFy</a>

        <nav class="links">
            <a href="@Url.Action("Dashboard", "Dashboard")">Dashboards</a>
            <a href="@Url.Action("Deslogar", "Login")">Sair</a>
        </nav>

    </header>

    <div class="container">
        @RenderBody()
    </div>
</body>

</html>